/* .base-bar {
  width: 300px;
  height: 300px;
  border: 1px solid red;
}

.base-bar > div {
  background-color: red;
  margin-top: 5px;
  text-align: right;
  padding-right: 10px;
} */

.x-axis text {
  font: 10px sans-serif;
}

.x-axis path,
.x-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
