/* 下拉组件样式 */
.hubei-select, .hubei-select-changed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.hubei-select-changed {
  color: #bfe9ff;
  text-indent: 15px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid #01fcfc;
  position: relative;
}

.hubei-select-changed span {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url("./icon.png") no-repeat 100% 100%;
  transform: translate(0, -50%);
}

.hubei-select-changed .select-changed-down {
  transform: translate(0, -50%);
  transition: transform 300ms;
}

.hubei-select-changed .select-changed-up {
  transform: translate(0, -50%);
  transition: transform 300ms;
}

.time-select-box {
  width: 160px;
  height: 142px;
  position: absolute;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  border: 1px solid #324d7f;
  background: rgba(27, 47, 119, .8);
  border-radius: 1px;
  transform: scale(0);
}

.time-select-scroll-wrap {
  width: 25%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: absolute;
  left: 25%;
  top: 34px;
  color: #bfe9ff;
}

.time-select-scroll-wrap > .time-select-scroll {
  height: 100%;
  overflow-Y: auto;
  overflow-X: hidden;
}

.time-select-box ul li {
  height: 24px;
  line-height: 24px;
}

.time-select-month,
.time-select-day {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.time-select-text-month,
.time-select-text-day {
  width: 25%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 34px;
  left: 5%;
  color: #bfe9ff;
  font-size: 14px
}

.time-select-text-day {
  left: 55%;
}

.time-select-box ul li:hover {
  background: #0058c1;
  color: #ffffff;
  font-weight: 600;
}

.time-select-box ul li.active {
  background: #0058c1;
  color: #ffffff;
  font-weight: 600;
}

.time-select-year {
  height: 12px;
  width: 84px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #bfe9ff;
}

.time-select-year-prev, .time-select-year-next {
  height: 12px;
  background: url("./arrow.png") no-repeat center center;
  flex: 1;
  cursor: pointer;
}

.time-select-year-prev {
  transform: rotateZ(180deg);
}

.time-select-year-content {
  flex: 4;
}

.time-select-box-show {
  transform-origin: 0 0;
  transform: scale(1);
  transition: transform 300ms;
  overflow: hidden;
}

.time-select-box-hide {
  transform-origin: 0 0;
  transform: scale(0);
  transition: transform 300ms;
}

.calendar-time-line {
  width: 78px;
  height: 1px;
  background-color: #01fcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
